.menu_opcion {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 35% 35%;
    grid-template-rows: 50% 50%;
    gap: 50px;
    height: 60%;
    position: auto;
}

a {
    background-color: #60a3bc;
    color: aliceblue;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    font-size: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.432);
    transition: transform 0.5s ease;
}

a:hover{
    transform: translateY(-20px);
}