body {
    background-color: rgb(167, 17, 0);
    font-family: "Syncopate", sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 80px;
    padding: 35px;
    background-color: yellow;
    width: 85%;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.contenedor {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
}

.box_notes, .box_task{
    background-color: aqua;
    width: 45%;
    height: 200px;
    box-sizing: border-box;
    margin: auto;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
}

h2:hover {
    background-color: chartreuse;
}